<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="header">
    <a href="/">Home</a>
    <a href="/add-post">Add post</a>
    <a href="/posts">Posts</a>
    <a href="/contacts">Contacts</a>
</div>